.title {
    font-family: "pretendard", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.context1 {
    font-family: "pretendard", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.guide_button{
    font-family: "pretendard", sans-serif;
    font-weight: 400;
    font-style: normal;
    width:120px;
    height: 40px;
    margin: 20px 0px;
    background-color: #004fff;
    border:none;
    color:white;
    box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition:0.3s;
    }

    .guide_button:focus{
        outline: 0;
    }

    .guide_button:hover{
        background-color:rgba(0, 79, 255, 0.9) ;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 79, 255, 0.6);
    }